@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&display=swap');

html, body, #root {
  min-height: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.App {
    min-height: 100vh;
    min-height: 100dvh; /* Dynamic viewport height for mobile */
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}


:root {
    --pbg: black;
    --ptxt: white;
    --ptwo: grey;
}

[data-theme="1"] {
    --pbg: white;
    --ptxt: black;
    --ptwo: grey;
}

.Header {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    width: 100%;
    padding-right: 20px;
    padding-top: 20px;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    background-color: var(--pbg);
}


.About{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: var(--ptxt);
    padding-top: 150px;
}


.pfp img {
  width: clamp(60px, 12vw, 130px);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  object-position: center 30%;
  border: 2px solid grey;
}

button {
    margin-bottom: 20px;
    color: var(--ptxt);
    background-color: transparent;
    border: 0px solid black;
    font-size: 20px;
}

button:hover {
    color: var(--ptwo)
}

.desc {
    text-align: center;
    width: 50vw;
}

.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.links a {
    color: rgb(249, 249, 250);
}

.links a {
    font-size: 30px;
    padding: 20px;
}

.links a:hover {
    color: rgb(102, 172, 238);
}

.Experiences {
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--ptxt);
    margin-top: 300px;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

@media (max-width: 768px) {
  .Experiences {
    width: 100%;
    padding: 0 20px 80px;
    margin-top: 140px;
    box-sizing: border-box;
  }

  .box {
    width: 100%;
    padding: 0 4px;
  }
}

.college {
    text-decoration: underline;
    text-decoration-color: rgb(230, 77, 17);
    text-underline-offset: 5px;
    transition: .5s ease;
}

.college:hover {
    text-underline-offset: 10px;
    text-decoration-color: white; 
}