:root {
    --pbg: black;
    --ptxt: white;
    --ptwo: grey;
}

[data-theme="1"] {
    --pbg: white;
    --ptxt: black;
    --ptwo: grey;
}

.Header {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    width: 100%;
    padding-right: 20px;
    padding-top: 20px;
}

body {
    background-color: var(--pbg);
}

.App {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.About{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: var(--ptxt);
    padding-top: 100px;
}


.pfp img {
  width: clamp(60px, 12vw, 130px);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  object-position: center 30%;
  border: 2px solid grey;
}

button {
    margin-bottom: 20px;
    color: var(--ptxt);
    background-color: transparent;
    border: 0px solid black;
    font-size: 20px;
}

.desc {
    text-align: center;
    width: 50vw;
}

.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.links a {
    font-size: 30px;
    color: var(--ptxt);
    padding: 20px;
}

.links a:hover {
    color: var(--ptwo);
}

.Experiences {
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--ptxt);
    margin-top: 300px;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}